header{
    border: solid wheat;
    width: 100vw;
    height: 10vh;
    font-size: 40px;
    font-weight: 600;
    font-family: fantasy;
}

body{
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* __________________ START SCREEN __________________ */

#startScreen{
    width: 80vw;
    height: 91vh;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ______________________ OUT OF COMBAT _____________________ */

.main{
    border: solid antiquewhite;
    width: 80vw;
    height: 91vh;
}

#screenOOC {
    border: solid;
    width: 80vw;
    height: 60vh;
    border-radius: 5px;
    background-blend-mode: darken;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 5vw 5vw 5vw;
    grid-template-rows: 5vh 5vh 5vh;
    grid-auto-columns: 5vw;
    grid-auto-rows: 5vh;
}

.person{
    /* border: solid crimson; */
    height: 40vh;
    width: 25vw;
    background-size: 100% 100%;
    grid-column: 6/7;
    
}

.text{
    border: solid gainsboro;
    grid-row: 10/13;
    grid-column: 3/15;
    color: white;
    background-color: blue; opacity: 0.9;
    font-weight: bold;
}

.btn {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}

.btn:hover{
    border: solid gold;
}

.healthOOC{
    border: solid peachpuff;
    width: 20vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    background-image: url(assets/doubt_griff.jpg);
    background-size: 100% 100%;
    background-color: gold;
    background-blend-mode: darken;
}

#healthcntOOC{
    color: aliceblue;
}

#healthNumOOC{
    color: aliceblue;
}

#statusOOC{
    color: aliceblue;
}

/* ____________________ COMBAT SCREEN _________________ */

#screen {
    border: solid salmon;
    background-color: black;
    background-image: url(assets/BG4.jpg);
    background-color: darkblue;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

#eneact1 {
    width: 12vw;
    height: 12vh;
    grid-column: 3;
    justify-self: center;
}

#eneact2 {
    width: 12vw;
    height: 12vh;
    grid-column: 2;
    grid-row: 2;
}

#eneact3 {
    width: 12vw;
    height: 12vh;
    grid-column: 4;
    grid-row: 2;
    justify-self: center;
}

.enemy{
    width: 30vw;
    height: 60vh;
    grid-column: 3;
    justify-self: center;
    background-size: 100% 100%;
}

.enemy:hover{
    border: solid red;
}

.enemy1{
    width: 30vw;
    height: 60vh;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    background-size: 100% 100%;
}

.enemy1:hover{
    border: solid red;
}

.enemy2{
    width: 30vw;
    height: 60vh;
    grid-column: 4;
    grid-row: 1;
    justify-self: center;
    background-size: 100% 100%;
}

.enemy2:hover{
    border: solid red;
}

.textbox{
    border: solid silver;
    background-color: blue; opacity: 0.8;
    color: aliceblue;
    width: 70vw;
    grid-column: 3;
    grid-row: 5;
    justify-self: center;
    font-weight: 800;
    font-size: 18px;
}

.actionBar {
    border: solid brown;
    width: 80vw;
    height: 30vh;
    display: flex;
}

.health{
    border: solid peachpuff;
    width: 20vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    background-image: url(assets/doubt_griff.jpg);
    background-size: 100% 100%;
    background-color: gold;
    background-blend-mode: darken;
}

#healthcnt{
    color: aliceblue;
}

#healthNum{
    color: aliceblue;
}

#status{
    color: aliceblue;
}

.actions{
    border: solid peachpuff;
    width: 45vw;
    height: 30vh;
    background-image: url(assets/focus_graff.jpeg);
    background-size: 100% 100%;
    background-color: gold;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
}

.attack{
    width: 12vw;
    font-size: 18px;
}

.attack:hover{
    color: gold;
}

.inventory{
    border: solid peachpuff;
    width: 15vw;
    height: 30vh;
    background-image: url(assets/explore_graf.jpeg);
    background-size: 100% 100%;
    background-color: gold;
    background-blend-mode: darken;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;

}

#items{
    width: 3vw;
    height: 5vh;
}

.item1{
    background-image: url(./assets/4896_kermitcoke.png);
    background-size: 100% 100%;
    grid-column: 1;
    grid-row: 1;
}

.item1:hover{
    border: solid gold;
}

.item1Num{
    font-size: 20px;
    font-weight: 800;
    color: whitesmoke;
    grid-column: 2;
    grid-row: 1;
    width: 3vw;
    height: 5vh;
}




/* __________________ ANIMATIONS ____________________ */

.screen{
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .aimed {
      background-image: url(./assets/retical.png);
      background-size: 100%;
      animation: aiming 0.5s;
  }
  @keyframes aiming {
    0% { transform: rotate(0deg);
    opacity: 0.1; }
    100% { transform: rotate(360deg);
    opacity: 1; }
  } 

  .snorted {
      background-image: url(./assets/powder.png);
      background-size: 100%;
      animation: snorting 1.5s;
  }

  @keyframes snorting {
      0% { transform: scale(2); opacity: 1;}
      100% { transform: scale(.2); opacity: .5;}
  }